{% extends 'base.html.twig' %}

{% block title %}agency index
{% endblock %}

{% block body %}
	<h1>Gestion des Agences</h1>

	<a class="btn btn-sm btn-success" href="{{ path('app_agency_new') }}">Créer une agence</a>

	<div class="container-fluid mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th></th>
					<th>Nom</th>
					<th>Téléphone</th>
					<th>Email</th>
					<th>Adresse</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for agency in agencies %}
					<tr>

						<td>{{ agency.id }}</td>
						<td><img class="agencyPicture" src="{{ asset('uploads/' ~ agency.picture) }}"/></td>
						<td>{{ agency.name }}</td>
						<td>{{ agency.phone }}</td>
						<td>{{ agency.email }}</td>
						<td>
						
						{# loop agency adresses and return first one #}
						{% for address in agency.addresses %}
							{{ address.numStreet }} {{ address.street }} {{ address.postalCode }} {{ address.city }}
						{% endfor %}
						
						</td>
						<td>
							<a class="btn btn-sm btn-info text-light" href="{{ path('app_agency_show', {'id': agency.id}) }}">Voir</a>
							<a class="btn btn-sm btn-warning" href="{{ path('app_agency_edit', {'id': agency.id}) }}">Editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
