{% extends 'base.html.twig' %}

{% block title %}PriceListPrice index{% endblock %}

{% block body %}
    <h1>PriceListPrice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>MinimalDuration</th>
                <th>MaximalDuration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price_list_price in price_list_prices %}
            <tr>
                <td>{{ price_list_price.id }}</td>
                <td>{{ price_list_price.price }}</td>
                <td>{{ price_list_price.minimalDuration }}</td>
                <td>{{ price_list_price.maximalDuration }}</td>
                <td>
                    <a href="{{ path('app_price_list_price_show', {'id': price_list_price.id}) }}">show</a>
                    <a href="{{ path('app_price_list_price_edit', {'id': price_list_price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_price_list_price_new') }}">Create new</a>
{% endblock %}
