{% extends 'base.html.twig' %}

{% block title %}PriceListPrice{% endblock %}

{% block body %}
    <h1>PriceListPrice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price_list_price.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ price_list_price.price }}</td>
            </tr>
            <tr>
                <th>MinimalDuration</th>
                <td>{{ price_list_price.minimalDuration }}</td>
            </tr>
            <tr>
                <th>MaximalDuration</th>
                <td>{{ price_list_price.maximalDuration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_price_list_price_index') }}">back to list</a>

    <a href="{{ path('app_price_list_price_edit', {'id': price_list_price.id}) }}">edit</a>

    {{ include('price_list_price/_delete_form.html.twig') }}
{% endblock %}
